/* Let's build our card here */
.naija-card {
  box-shadow: 0px 8px 6px -6px rgba(0, 0, 0, .1);
  background: #fff;
  border: 1px solid #e5e5e5;
  margin-bottom: 16px;
  border-radius: 2px;
  min-height: 170px;
  padding: 25px;
}

.naija-card:hover {
  border-color: #fff;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .06);
}

.naija-card > .naija-header > a {
  color: #333;
  font-weight: 700;
  margin-left: 2px;
}

.naija-card > .naija-header > img {
  border-radius: 3px;
  height: 24px;
  width: 24px;
}

.naija-card > .naija-header > p {
  margin-top: 1px;
  font-size: 12px;
  line-height: 1.5;
  text-align: justify;
}

.naija-card > .naija-card-footer {
  border-top: 1px solid #dadfe2;
  /*padding-top: 7px;*/
  text-align: center
}

.naija-card > .naija-card-footer .stack-icon {
  filter: grayscale(100%);
  transition: filter .3s ease-in-out;
  font-size: 30px;
}

.naija-card > .naija-card-footer .stack-icon:hover {
  filter: grayscale(0);
}

/*end of our card*/
