<div class="row">
  <div class="col-xs-4">

    <div class="naija-card">
      <div class="naija-header">
        <img class="v-profile--image" src="https://avatars0.githubusercontent.com/u/10440327?v=3" height="24"
             width="24">
        <a href="#">Repository name</a>
        <p>
          description here not too plenty just end with ...
        </p>
      </div>
      <div class="naija-card-footer">

      </div>
    </div>


  </div>
  <div class="col-xs-6">

  </div>
  <div class="col-xs-2">

  </div>
</div>
