<div class="row">
  <div class="col-md-5">

    <div class="naija-card">
      <div class="naija-header">
        <img src="https://avatars0.githubusercontent.com/u/10440327?v=3">
        <a href="#" target="_blank">Repository name</a>

        <a href="#" target="_blank" role="tooltip" aria-haspopup="true"
           class="tooltip tooltip-sm tooltip-right pull-right"
           style="font-size:12px">
          <clr-icon shape="user"></clr-icon>
          theo4me
          <span class="tooltip-content">Creator</span>
        </a>

        <p>
          description here not too plenty just end with description here not too plenty just end with ...
        </p>
      </div>
      <div class="naija-card-footer">
        <a href="https://en.wikipedia.org/wiki/JavaScript" target="_blank">
          <img class="stack-icon" src="assets/js.svg"
               alt="js"></a>
      </div>
    </div>
  </div>
  <div class="col-md-4">

  </div>
  <div class="col-md-4">

  </div>

</div>
