/*Lets build our card here*/
.naija-card {
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 12px;
  margin-bottom: 16px;
}

.naija-card:hover {
  border-color: #fff;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .06);
}

.naija-card > .naija-header > a {
  color: #333;
  font-weight: 700;
  margin-left: 2px;
}

.naija-card > .naija-header > img {
  border-radius: 3px;
  height: 24px;
  width: 24px;
}

.naija-card > .naija-header > p {
  margin-top: 1px;
  font-size: 12px;
  line-height: 1.5;
  text-align: justify;
}

.naija-card > .naija-card-footer {
  border-top: 1px solid #dadfe2;
  padding-top: 7px;
}

.naija-card > .naija-card-footer .stack-icon {
  filter: grayscale(100%);
  transition: filter .3s ease-in-out;
  width: 40px;
  height: 40px;
}

.naija-card > .naija-card-footer .stack-icon:hover {
  filter: grayscale(0);
}

/*end of our card*/

.pull-right {
  float: right;
}
