.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.shadow {
  @include box-shadow(0px 0px 7px rgba(0, 0, 0, .1));
}

.shadow-alt {
  @include box-shadow(0px 8px 6px -6px rgba(0, 0, 0, .1));
}

.radius {
  @include border-radius(2px);
}

.radius-alt {
  @include border-radius(3px);
}

.radius-alter {
  @include border-radius(5px);
}

.circle, .round {
  @include border-radius($full);
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden !important;
}

.fixed {
  position: fixed;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
  &:before, &:after {
    clear: both;
    content: "";
    display: block;
    font-size: 0px;
    height: 0px;
    line-height: 0;
  }
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.text-bolder {
  font-weight: bolder;
}

.text-normal {
  font-weight: normal;
  font-style: normal;
}

.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.visible {
  visibility: visible;
  @include opacity(1);
}

.display {
  display: block !important;
  visibility: visible;
  @include opacity(1);
}

.share-text {
  font-size: 12px;
    font-weight: bolder;
}