@import "fonts.css";

* {
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #F2F3F4;
    margin: 0;
}

a {
    color: #1A82BF;
    cursor: pointer;
    transition: color 200ms ease-out;
}

a:hover {
    color: #0E4061;
}

.hero {
    background: #1D976C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    padding: 10px;
}

.hero .message {
    color: #fff;
    width: 50%;
    margin: auto;
    line-height: 2em;
    padding-bottom: 20%;
}

.container {
    margin: 50px auto;
    width: 70%;
    margin-top: -15%;
    color: #000;
}

.page-header {
    height: 50px;
    margin-bottom: 20px;
    position: relative;
}

#search-input {
    background-color: #F2F3F4;
    border: 1px solid #A7AFB2;
    border-radius: 5px;
    font-size: 1.1rem;
    height: 40px;
    padding: 0 20px;
    position: relative;
    width: 300px;
}

#search-input:focus {
    outline: none;
}

#tools-table {
    border-collapse: collapse;
    border-spacing: 0;
    text-align: left;
    width: 80%;
    background: #fff;
    margin:auto;
    border-radius: 5px;
}

#tools-table td, th {
    padding: 0 10px;
}

#tools-table thead {
    background-color: #FFF;
}

#tools-table thead tr {
    border-bottom: 3px solid #A7AFB2;
    height: 60px;
}

#tools-table tbody tr {
    border-bottom: 1px solid #A7AFB2;
    cursor: pointer;
    height: 50px;
    transition: background-color 200ms ease-out;
}

#tools-table tbody tr:hover {
    background-color: #DADEDF;
}

#tools-table a {
    text-decoration: none;
}

.no-display {
    display: none;
}

.effect7
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}


/*Style for Responsiveness*/
@media (max-width: 700px){
    .hero>.message {
        width: 90%;
    }
    #search-input {
    padding: 0 10px;
    width: inherit;
    }
    .container{
        width: 90%;
    }
    #tools-table td, th {
    padding: 0 10px;
    word-break: break-all;
    }
    #tools-table {
        width: 100%;
        padding: 0 5px;
    }
}
