/* You can add global styles to this file, and also import other style files */
body {
  background: #EDEEF0;
  color: #333
}

.pull-right {
  float: right;
}

.spinner.spinner-inline, .spinner.spinner-sm {
  min-height: 14px;
  min-width: 14px;
  height: 14px;
  width: 14px;
}

.loader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
}

.dot-loader {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #009E77;
  position: relative;
  -webkit-animation: 1.2s grow ease-in-out infinite;
  animation: 1.2s grow ease-in-out infinite;
}

.dot-loader--2 {
  -webkit-animation: 1.2s grow ease-in-out infinite 0.15555s;
  animation: 1.2s grow ease-in-out infinite 0.15555s;
  margin: 0 20px;
}
.dot-loader--3 {
  -webkit-animation: 1.2s grow ease-in-out infinite 0.3s;
  animation: 1.2s grow ease-in-out infinite 0.3s;
}

@-webkit-keyframes grow {
  0%, 40%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes grow {
  0%, 40%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

