/* You can add global styles to this file, and also import other style files */
body {
  color: #333
}

.pull-right {
  float: right;
}

.spinner.spinner-inline, .spinner.spinner-sm {
  min-height: 14px;
  min-width: 14px;
  height: 14px;
  width: 14px;
}
